<div class="krug"></div>
<div class="wrapper"  (mousemove)="eyeball($event)">
    <div class="left">
        <h1>About.</h1>
        <p>Umjesto da se pravi sajt koji je direktno u vezi sa samom temom mog seminarskog rada, odnosno o samom Angularu,
            odlučila sam da se Angular ipak koristi prilikom izrade frontenda. Sajt predstavlja lični blog.
            Pošto je ITD predmet koncipiran tako da se većinu vremena radi samostalno, počela sam voditi logove svakog
            dana dok sam radila na malom, a sada i velikom, projektu. Na taj način imam pregled svega što sam radila,
            šta treba da uradim, kao i uložene sate. 
            <br>
            Ovo sam radila zbog dvije stvari: dobra praksa za rad na budućim
            ozbiljnijim projektima, kao i dokaz uloženog rada i truda. Činilo se kao dobra ideja, napraviti sajt upravo
            centriran oko mojih dnevnih (b)logova, tačnije jedno mjesto na kojem će se nalaziti svi unosi. Sajt koji će
            pričati priču o tome kako je napravljen, imenovan: "My Angular Journey".</p>
            <br>
            <a href="assets/file2.pdf"><p>Pogledajte kako je projekat izgledao u ranim počecima</p></a>
    </div>
    <div class="right">
        <div class="eyes">
            <div class="eye"></div>
            <div class="eye"></div>
        </div>
    </div>
</div>