<div class="title">
    <h1><span>my </span>
        <span ><img src="assets/angular.png"></span>
        <span>ngular </span>
        <span>journey.</span></h1>
</div>

<div class="introduction">
    <p>Dobro došli u moje angular putovanje, ovaj projekat služi tome da se vidi i isprati vremenska linija razvijanja istog. Ukoliko se prvi put susrećete sa ovom tehnologijom preporučeno je da pogledate moj rad na ovu temu klikom na dugme ispod ovog teksta.</p>
</div>
<div class="dugme"><button>
    <a href="assets/file.pdf">Pogledaj rad</a>
</button></div>